<header>
  <nav class="p-4 flex justify-between items-center gap-4 bg-white">
    <!-- <img
      src="https://s1.ppllstatics.com/mujerhoy/www/multimedia/202502/11/media/cortadas/zuckeberg1-k7bF-U230828106152o7E-1248x1248@MujerHoy.jpg"
      alt="Foto de perfil"
      class="w-10 h-10 rounded-full object-cover"
    /> -->
    
    <div class="flex gap-6">
      <a href="#" class="text-black hover:opacity-80 transition">Manage rentals</a>
      <a href="#" class="text-black hover:opacity-80 transition">Advertise</a>
      <a href="#" class="text-black hover:opacity-80 transition">Get help</a>
    </div>
    
    <app-custom-button>Sign in</app-custom-button>
  </nav>
</header>
